"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      enabled: false
  "atom-beautify":
    _analyticsUserId: "c505d82d-9647-43c8-aa3a-04cdda220d5a"
    language_fortran_disabled: true
    language_java_disabled: true
  "atom-clock":
    dateFormat: "HH:mm:ss"
    refreshInterval: 1
  "atom-material-ui":
    colors:
      abaseColor: "#ec407a"
      predefinedColor: "Pink"
    fonts: {}
    tabs:
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-minimap-titles":
    font: "ANSI Shadow"
  blame: {}
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "c87c12a4-11a0-57e1-4d87-522f3f860630"
  "flex-tool-bar": {}
  "git-blame": {}
  "git-hide":
    hideOnStartup: false
  "git-status": {}
  "highlight-selected": {}
  linter: {}
  "linter-eslint": {}
  "markdown-preview": {}
  "markdown-writer":
    fileExtension: ".md"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#151515"
        blue: "#6a9fb5"
        cyan: "#75b5aa"
        green: "#90a959"
        magenta: "#aa759f"
        red: "#ac4142"
        white: "#f5f5f5"
        yellow: "#f4bf75"
      zBright:
        brightBlack: "#505050"
        brightBlue: "#6fb3d2"
        brightCyan: "#76c7b7"
        brightGreen: "#a1c659"
        brightMagenta: "#d3b081"
        brightRed: "#fb0120"
        brightYellow: "#fda331"
    core: {}
    style:
      animationSpeed: 3
      fontFamily: "Ubuntu Mono"
    toggles:
      autoClose: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tool-bar":
    position: "Left"
  "tool-bar-almighty": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
